version: '3.1'
services:
  do-voice-stt-service:
    image: dsi-icl/do-voice-stt-service:latest
    container_name: do-voice-stt-service
    build: stt_service/
    volumes:
      - "./stt_service/config/config.json:/app/config/config.json:ro"

  do-voice-tts-service:
    image: dsi-icl/do-voice-tts-service:latest
    container_name: do-voice-tts-service
    build: tts_service/
    volumes:
      - "./tts_service/config/config.json:/app/config/config.json:ro"

  do-voice-assistant-service:
    image: dsi-icl/do-voice-assistant-service:latest
    container_name: do-voice-assistant-service
    build:
      context: .
      dockerfile: voice_assistant_service/Dockerfile
    ports:
      - "2000:2000"
    volumes:
      - "./voice_assistant_service/config/config.docker.json:/app/config/config.json:ro"
      - "./voice_assistant_service/ssl:/app/ssl:ro"
    environment:
      - PORT=2000

  do-voice-dialog-manager-service:
    image: rasa/rasa:2.8.11-full
    volumes:
      - ./dialog_manager_service/models:/app/models:ro
      - ./dialog_manager_service/config/credentials.docker.yml:/app/config/credentials.yml:ro
      - ./dialog_manager_service/config/endpoints.docker.yml:/app/config/endpoints.yml:ro
    command: ["run","-m","/app/models", "--enable-api", "--endpoints","/app/config/endpoints.yml","--credentials","/app/config/credentials.yml"]

  do-voice-dialog-manager-actions-service:
    image: dsi-icl/do-voice-dialog-manager-actions-service:latest
    build: dialog_manager_service/

  do-voice-emotion-recognition-service:
    image: dsi-icl/do-voice-emotion-recognition-service:latest
    container_name: do-voice-emotion-recognition-service
    build: emotion_recognition_service/
    volumes:
      - "./emotion_recognition_service:/usr/src/app"

  do-voice-grammar-correction-service:
    image: dsi-icl/do-voice-grammar-correction-service
    container_name: do-voice-grammar-correction-service
    build: grammar_correction_service/
    volumes:
      - "./grammar_correction_service:/usr/src/app"

  do-voice-hotword-service:
    image: dsi-icl/do-voice-hotword-service:latest
    container_name: do-voice-hotword-service
    build: hotword_service/
    volumes:
      - "./hotword_service/config/config.json:/app/config/config.json:ro"
      - "./hotword_service/save:/app/save"
